.body{
    border: 1px solid black;
    margin: auto;
    width: 280px;
    text-align: center;
    padding: 20px;
    
}
input{
    display: block;
    margin-bottom: 20px;
    padding: 8px;
    width: 250px;
    border: 2px solid black;
    
}
button{
    color: white;
    background-color: green;
    border: none;
    width: 100px;
    padding: 8px;
}